.gallery-container {
  margin-bottom: 5%;
}

.gallery {
  width: 300px;
  text-align: center;
  overflow: hidden;
  margin: auto;
}

.slides {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.slides::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.slides::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}
.slides::-webkit-scrollbar-track {
  background: transparent;
}

.slides > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 300px;
  height: 300px;
  margin-right: 50px;
  border-radius: 10px;
  background: #eee;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}

#img1 {
  background-image: url(/images/milk1.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#img2 {
  background-image: url(/images/milk4.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#img3 {
  background-image: url(/images/milk6.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#img4 {
  background-image: url(/images/milk10.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#img5 {
  background-image: url(/images/milk12.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}